body {

}

.fuenteNegra {
    font-size: 30px;
    font-family: Prototype;
    color: black;
}

.fuenteBlanca {
    font-size: 30px;
    font-family: Prototype;
    color: white;
}

.fuenteGris {
    font-size: 20px;
    font-family: Prototype;
    color: gray;
}

.fondoElemento {
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    font-family: Prototype;
    color: black;
    position: center;

}

.newFondo {
    background-color: #FFFFFF;
}

.newFondoPlantilla {
    text-align: center;
    height: 626px;
    background-image: url('../Imagenes/ImagenesSistema/Zelda.jpg');
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
#header {
    color: #247BA0;
    text-align: center;
    font-size: 20px;
}

#nav {
    
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}

ul {
    
    list-style-type: none;
}

li a {
    color: #FFFFFF;
    font-size: 30px;
    column-width: 5%;
}

li {
    display: inline;
    padding-left: 2px;
    column-width: 20px;
}

a {
    text-decoration: none;
    margin-left: 20px
}

li a:hover {
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    padding: 1%;
}

#side {
    text-align: center;
    float: right;
    width: 15%;
    padding-bottom: 79%;
    background-color: #F1FAEE;
}

#article {
    background-color: #EEF5DB;
    padding: 10px;
    padding-bottom: 75%;
}

#footer {
    background-color: #C7EFCF;
    text-align: center;
    padding-bottom: 5%;
    font-size: 20px;
}

#con {
    border: double;
    border-color: burlywood;
}  