body {
    background-image: url('../Imagenes/ImagenesSistema/fondoLogin.jpg');
    background-size: cover;
    /*background-position: center center;*/
    background-repeat: no-repeat;
    /*position: relative;*/
}

.fondoImagenLogin {
    text-align: center;
    height: 626px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.fondoImagenCrude {
    text-align: center;
    height: 626px;
    background-image: url('../Imagenes/ImagenesSistema/Zelda.jpg');
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.espacioTablaslaterales{
    width:16%;
}

.espacioTablaCentral{
    width:68%;
    height:33%;
}

.fondoElemento {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-family: Prototype;
    color:white;
    position:center;
}

.fondoHeader {
    background-image: url('../Imagenes/ImagenesSistema/fondoLogin.jpg');
    background-size: cover;
    /*background-position: center center;*/
    background-repeat: no-repeat;
    /*position: relative;*/
}

